* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Optima', sans-serif;
  }


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f35eb;
  padding: 10px 10%;
  font-size: 1.2rem;
}

.logo {
  width: 15%;
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block; /*space between menu options*/
  padding: 0 20px;
}

.nav-links li a{
  display: block;
  color: white;
  border-radius: 50px;
  transition: 0.2s;
  padding: 10px 25px;
}

.nav-links li a:hover{
  color: #1f35eb;
  background-color: white;
}

a:visited {
  color: inherit; /* zachowaj domyślny kolor odziedziczony z rodzica */
}

button{
  padding: 9px 25px;
  background-color: white;
  border: none;
  border-radius: 50px;
  transition: 0.2s;
  font-size: 1.2rem;
  color:#1f35eb;
}

button:hover{
  background-color: #5b01d1;
  color:white;
}

.container1{
  margin-left: 5%;
  margin-right: 5%;
}

.option-bar {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.option-buttons button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  color:#5b01d1;
  border: 1px solid #5b01d1;
  background-color: white;
}

.option-buttons button:hover{
  background-color: #5b01d1;
  color: white;
}

.info-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap; /* Pozwala na przechodzenie na kolejny wiersz */
}

.box1 p,
.box2 p,
.box3 p,
.box4 p,
.box5 p {
  color: #666565;
  padding:7px;
  font-size: 1rem;
}

.box1, .box2, .box3, .box4, .box5 {
  font-size: 0.65rem;
  width: 19%;
  padding: 20px;
  border: 1px solid #b8b6b6;
  border-radius: 5px;
  word-wrap: break-word;
  margin-bottom: 20px; /* Dodaje odstęp między boxami przy zmniejszaniu ekranu */
  box-sizing: border-box;
  box-shadow: 0 0 5px #666565;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover {
  transform: scale(1.06); /* Powiększenie o 5% */
  transition: transform 0.3s ease; /* Dodanie płynnego przejścia */
}

.value {
  font-size: 1.5rem;
  padding: 7px;
  font-weight: bold;
  display: flex; /* Ustawienie kontenera flex */
  justify-content: space-between; /* Rozłożenie zawartości na końce kontenera */
  align-items: center; /* Wyrównanie wzdłuż osi pionowej */
}

.box1 .value i{
  color: #27c3ff;
}

.box2 .value i{
  color:#5b01d1;
}

.box3 .value i, .box4 .value i{
  color:#f17aff;
}

.box5 .value i{
  color:#f17aff;
}

/* Media query dla mniejszych ekranów */
@media screen and (max-width: 768px) {
  .box1, .box2, .box3, .box4, .box5 {
    width: 48%; /* Ustawia dwa boxy w jednym rzędzie */
  }
}

/* Media query dla jeszcze mniejszych ekranów */
@media screen and (max-width: 480px) {
  .box1, .box2, .box3, .box4, .box5 {
    width: 100%; /* Ustawia każdy box na pełną szerokość */
  }
}

.chartsbox{
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 77%;
  border-radius: 5px;
  box-shadow: 0 0 7px #666565;
}

.chart-container {
  margin: 5%;
  width: 90%; 
  height: 40vh;
}

.emptyblock{
  border-radius: 5px;
  box-shadow: 0 0 7px #666565;
}
