<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PredicTech Analytics</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</head>

<body>

    <header class="top-bar">
        <div class="logo">
            <img src="https://www.predictech.co.uk/storage/app/uploads/public/64a/6b3/ae6/64a6b3ae68ce5827305860.svg" alt="PredicTech">
        </div>
        <div class="wrapper">
            <div class="words">
                <span class="item-1">Save Energy</span>
                <span class="item-2">Reduce Downtime</span>
                <span class="item-3">Increase Productivity</span>
            </div>
        </div>
    </header>


    <div class="chartsbox">
        <h1>Graphs for three-phase current:</h1>
        <div class="chart-container">
            <canvas id="lineChart1"></canvas>
        </div>
    
        <div class="chart-container">
            <canvas id="lineChart2"></canvas>
        </div>
    
        <div class="chart-container">
            <canvas id="lineChart3"></canvas>
        </div>
    </div>


    <script>
        function createLineChart(canvasId, labels, values, borderColor, label, backgroundColor) {
        var ctx = document.getElementById(canvasId).getContext("2d");
        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: label,
                        data: values,
                        fill: true,
                        lineTension: 0.1,
                        backgroundColor: backgroundColor,
                        borderColor: borderColor,
                        lineTension: 0.5
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        grid: {
                        display: false
                        }
                    },
                    y: {
                        grid: {
                        display: false
                        }
                    }
                },
                responsive: true,  
                maintainAspectRatio: false,
                
            }
        });
    }

    var labels1 = {{ labels1 | tojson }};
    var values1 = {{ values1 | tojson }};
    createLineChart("lineChart1", labels1, values1, "rgb(75, 192, 192)", "Current 1", "rgba(75,192,192,0.5)");

    var labels2 = {{ labels2 | tojson }};
    var values2 = {{ values2 | tojson }};
    createLineChart("lineChart2", labels2, values2, "rgb(255,0 , 255)", "Current 2", "rgba(255, 0, 255, 0.5)");

    var labels3 = {{ labels3 | tojson }};
    var values3 = {{ values3 | tojson }};
    createLineChart("lineChart3", labels3, values3, "rgb(31, 53, 235)", "Current 3", "rgba(31,53,235,0.5)");
    
    </script>
</body>
</html>
